.App {
  text-align: center;
}
.initial-logo{
  max-width: 40vw;
  margin: auto;
}

.initial-logo img{
  width: 100%;
}


.subject{
    font-size: 2vw;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-family: system-ui;
    letter-spacing: 13px;
    margin-left: 24px;
}